.game_app {overflow: hidden; position: relative; min-width:1280px; height: 100vh;}
.game_app .game {position: absolute; left: 0; bottom: 0; z-index: 10; width: 70000px; height: 100%; background-image: url('../../../../lib/images/bg_bottom.png'); background-repeat: repeat-x; background-size: auto 100%; will-change: transform;}
.game_app .sky {position: absolute; left:0; bottom: 0; z-index:1; width: 100%; height: 100%; background-image: url('../../../../lib/images/bg_top.png'); background-repeat: repeat-x; background-size: auto 100%;}

.game_info {position: fixed; left:0; top:0; z-index:20; width: 100%; height: 150px;}
.game_info .hero_state {width: 300px; height: 100%; padding:10px;}
.game_info .hero_state .hero_img {float: left; width: 20%;}
.game_info .hero_state .state_box {float: left; width: 80%; height: 100%; padding-top:10px;}
.game_info .hero_state .state_box .hp {width: 100%; height: 10px; border:1px solid #000;}
.game_info .hero_state .state_box .hp span {display: block; width: 100%; height: 100%; background-color: red; transition: width .3s linear;}

.game_over {display:none; position: fixed; left:0; top: 0; z-index: 200; width: 100%; height: 100%; background-color: rgba(0,0,0,.5);}
.game_over.active {display: block;}
.game_over p {display: flex; height: 100%; align-items: center; justify-content: center; color: #fff; font-size: 150px;}

@keyframes hero_idle {
	from {background-position-x: 0px;}
	to {background-position-x: -1498px;}
}
@keyframes hero_run {
	from {background-position-x: 0px;}
	to {background-position-x: -1498px;}
}
@keyframes hero_attack {
	from {background-position-x: 0px;}
	to {background-position-x: -1498px;}
}
@keyframes hero_crash {
	from {background-position-x: 0px;}
	to {background-position-x: -299px;}
}

.hero_box {position: fixed; left:0; bottom: 0; z-index:100; width: 150px; height: 182px; will-change: transform;}
.hero_box .hero {height: 100%; background-image: url('../../../../lib/images/ninja_idle.png'); background-size: 1498px 182px; animation: hero_idle 0.7s infinite steps(10);}
.hero_box .hero.flip {transform: rotateY(180deg);}
.hero_box .hero.run, .hero_box .hero.run.attack {height: 100%; background-image: url('../../../../lib/images/ninja_run.png'); background-size: 1498px 182px; animation: hero_run 0.7s infinite steps(10);}
.hero_box .hero.attack {height: 100%; background-image: url('../../../../lib/images/ninja_attack.png'); background-size: 1498px 182px; animation: hero_attack 0.7s 1 steps(10);}
.hero_box .hero.crash {background-image: url('../../../../lib/images/ninja_crash.png'); background-size: 299px 182px; animation: hero_crash 0.4s 1 steps(2);}
.hero_box .hero.dead {background-image: url('../../../../lib/images/ninja_dead.png'); background-size: 150px 182px; animation: none; transform: rotate(100deg);}

.hero_bullet {position: absolute; left:0; bottom:0; z-index:90; width:120px; height:24px; background-image: url('../../../../lib/images/hero_bullet.png'); background-size:cover; background-repeat: no-repeat; will-change: transform;}

@keyframes monster_run{
	from {background-position-x: 0px;}
	to {background-position-x: -2242px;}
}

.monster_box {position: absolute; left: 700px; bottom: 0px; z-index: 90; width: 280px; height: 294px; will-change: transform;}
.monster_box.remove {opacity: 0; transition: opacity .2s;}
.monster_box .monster {height: 100%; background-image: url('../../../../lib/images/monster/monster_green_run.png'); background-size: 2242px 294px; animation: monster_run 1s infinite steps(8);}
.monster_box .hp {position: absolute; left:0; top:0; width: 100%; height: 10px; border:2px solid #000; transform: translateY(-100%);}
.monster_box .hp span {display: block; width: 100%; height: 100%; background: red; transition: width .3s linear;}








